@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: black;
    font-family:'Montserrat',sans-serif;
    color: #edf0f1;
 }
.hero{
height: 150vh;
width:100%;
background-image: url(https://i.pinimg.com/originals/a6/65/46/a665463e60ef772c82286e4ee6a15353.gif);
background-position: center;
background-repeat: no-repeat;
background-size: 70%;
color: #edf0f1;
padding: 0 8%;
}

#intro{
    color: #edf0f1;
    font-size: 75px;
    text-align: center;
}

.nav_main h1{
    margin-right:auto;
    font-size: 50px;
    cursor: pointer;
}

.nav_main h1 .lio{
    color: rgba(1, 180,180);
}

li, a, button{
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
}

.nav_main{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 30px 10%;
}

.Nav_Links{
    list-style: none;
    margin-left: 20%;
} 

.Nav_Links li{
    display: inline-block;
    padding: 0px 20px;
}

.Nav_links li, a:hover{
    color: rgb(1,180,180);
    font-weight: 500;
}

button{
    margin-left: 10px;
    padding: 9px 25px;
    background-color: rgb(1, 180, 180);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(1, 180,180, .7);
} 

.Mini-img{
    width: 150px;
    height: auto;
}

.Works-Container{
    display:flexbox;
    flex-wrap: wrap;
    width: 400px;
    height: 340px;
}

.Works-Container{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 400px;

}

.Main-Prj{
    width:600px;
    height: 400px;
}

.Mini-img{
    width: 297px;
    height: 200px;
}
